img {
    display: block;
    width: 500px;
    height:500px;
  }

card {
    width: 18rem;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.col-sm-3{
    background-color:lavender;
}
.col-sm-5{
    background-color:lavenderblush;
}

